@import 'styles/variable.scss';
@import 'styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white-2;
  padding-left: 20px;
  padding-right: 20px;

  img {
    margin-top: 80px;
    margin-bottom: 24px;

    @include sm {
      max-width: 330px
    }
  }

  .title {
    margin-bottom: 24px;
    text-align: center;
  }

  .subTitle {
    margin-bottom: 24px;
    text-align: center;
  }

  button {
    margin-bottom: 120px;

    @include sm {
      height: 40px;
    }
  }
}


